<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center moveup">
            <h2 class="section-heading">About</h2>
                <hr class="primary">
               
                <iframe src="https://player.vimeo.com/video/55841887" width="740" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/55841887"></a>  <a href="https://vimeo.com/uhpfilms"></a> <a href="https://vimeo.com"></a></p>

   <p>The Urban Santa Project was created because we believe that Christmas Day should be a special day for every child. Thousands of children live in group homes and orphanages throughout the United States. Unfortunately, for these children the spirit of the holidays does not bring toys and gifts, as it does for others. Our mission is to work with centers that specialize in delivering services to underprivileged children and to deliver individualized gifts to these young children on Christmas day.</p>
            </div>
        </div>
    </div>
</section>

