<header>
    <div class="header-content">
        <div class="header-content-inner">
          <%= image_tag "creative/Header.png", class: "img-responsive center-block", alt: "" %>
        </div>
    </div>
</header>

    