<section class="bg-primary" id="homesforthehomeless">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Homes for the Homeless</h2>
                <hr class="light">
                <p class="text-faded">This year will be partnering with Homes for the Homeless.There are more homeless families in New York City than ever before. With nearly 12,000 homeless families, including 24,000 children living in the shelter system, and up to 100 new families applying for shelter through the city’s intake system each day, Homes for the Homeless continues to help families regain their independence while building their self-sufficiency skills to break the cycle of homelessness.</p>
                <a href="http://www.hfhnyc.org/" target="_blank" class="btn btn-default btn-xl">Homes for the Homeless</a>
            </div>
        </div>
    </div>
</section>
