<section class="bg-primary" id="homesforthehomeless">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Partners</h2>
                <hr class="light">
                 <a href=" http://www.ieasgu.org/index.php/about-uhp/mission-description" target="blank"><%= image_tag "creative/UHP.png", class: "img-responsive center-block", alt: "" %></a>
                 </br>
               <a href=" http://www.queens.gracenyc.org/home/" target="blank"><%= image_tag "creative/Grace.png", class: "img-responsive center-block", alt: "" %></a>
            </div>
        </div>
    </div>
</section>
