<section id="partners">
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Our Partners</h1>
                <hr class="light">
                <br/>
                <div class="col-lg-4 col-sm-6">
                 <a href=" http://www.ieasgu.org/index.php/about-uhp/mission-description" target="blank"><%= image_tag "creative/UHP.png", class: "img-responsive ", alt: "" %></a>
                 </div>

                 <div class="col-lg-4 col-sm-6">
               <a href=" http://www.queens.gracenyc.org/home/" target="blank" class= "moveright "><%= image_tag "creative/Grace.jpg", class: "img-responsive center-block", alt: "" %></a>
               </div>
               </div>
            </div>
        </div>
</section>