<section id="donate">
   <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Help bring Santa</h2>
             <h2>and His elves to the children of NYC!</h2>
            <hr>
            <h2>December 23rd, 2016</h2> <br/>

            <a href="#about" class="btn btn-primary btn-xl page-scroll ">Find Out More</a>
        </div>
    </div>
</section>