<section id="volunteer">
    <div class="container">
     <div class="row">
        <div class="header-content-inner text-center">
            <h1>Help bring Santa
             and his elves to the children of NYC!</h1>
            <i><b><h2>December 22rd, 2017 at 6pm</h2></b></i>       
        </div>
      </div>
         <div class="container">
           <div class="row">
             <div class="col-6 text-center">
                 <a href="http://www.hfhnyc.org/" target="blank"><%= image_tag "creative/hfh.png", class: "img-responsive center-block", alt: "" %></a>
                 <h3 class= "text-center">This year we get to partner with Homes for the Homeless to deliver toys as well as provide arts and crafts for the children. Our Santa needs a lot of help to make sure that all the gifts are delivered to the children. If you are interested in helping out, sign up to join our volunteer team.</h3> 
                 </br>
                <a href="https://goo.gl/forms/bHK5x5TBWDJhqv6J3" target="_blank" class="btn btn-primary btn-xl page-scroll wow tada green">Volunteer</a>
            </div>
        </div>
    </div>
</section>
