<!DOCTYPE html>
<html>
<head>
  <title>UrbanSantaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="eIokON_JX07CW-xL1QVjas8ZW8IF6pGt3ItZq93-vyQ" />
</head>
<body>

<%= yield %>

</body>
</html>
